.vertical {
    list-style-type: none;
    margin: 0;
    padding: none;
    width: 180px;
    background-color: #333;
    border: 1px solid #555;
}

.livertical .avertical {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #f2f2f2;
    text-align: center;
}

.livertical {
    text-align: center;
    border-bottom: 1px solid #555;
}

.livertical:last-child {
    border-bottom: none;
}

.livertical .avertical {
    color: #f2f2f2;
}


.livertical .avertical:hover {
    background-color: #ddd; 
    color: black;  
}