	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Llave Casillero</h4>
				</div>
				<div class="modal-body">
					<h1>12J</h1>
					<h1>15A</h1>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">ACEPTAR</button>
				</div>
			</div>

		</div>
	</div>