<div class="container">
	<h2>CONSUMO</h2>
	<hr>
	<br>
	<div class="container">
		<label name="nit_ci">NIT/CI</label>
		<input type="text" name="nit_ciInput">
		<button class="btn btn-info">BUSCAR</button>
		<div class="row">
			<h3>CONSUMO TOTAL</h3>
			<br>
			<table style="width:100%; border: 1px solid black ">
				<thead>
					<tr>
						<th>ITEM</th>
						<th>PRECIO</th>
					</tr>
				</thead>
			</table>
			<br>
			<br>
			<div class="col-sm-4">
				<label name="totalConsumo">TOTAL: </label>
				<input type="text" name="totalConsumoInput" readonly="true">
			</div>
			<br>
			<br>
			<br>
			<div class="center">
			<button type="button" class="btn btn-success btn-lg" data-dismiss="modal">IMPRIMIR</button>
			</div>
		</div>
	</div>
</div>