<table border="0" width="350" cellpadding="5" style="margin-top:10px; margin-left: 215px;" >

<tbody>
<tr>

  <td align="center" valign="center">
    <div class="container" >
      <div class=thumbnail style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3pFRWF2dKvmCFnBsGGjwQEVIhXs-do9wXlJVHjpktTbDPYznvGA);">
        <div class="middle">
          <div class="text">pop-up window here</div>
        </div>
      </div>
    Caption text centered under the first image.
    </div>
  </td>
  

    <td align="center" valign="center">
      <div class="container">
        <div class=thumbnail style="background-image: url(https://www.shopmarriott.com/images/products/v2/xlrg/Marriott-towel-set-MAR-310-SET_xlrg.jpg);">
        <div class="middle">
          <div class="text">pop-up window here</div>
        </div>
      </div>
      Caption text centered under the image.
      </div>
    </td>

    <td align="center" valign="center">
      <div class="container">
        <div class=thumbnail style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWDDqf90n6fpBXJ_wHHmlxSr2INSvcSjnV88tz2KG2LeGno_L_);">
        <div class="middle">
          <div class="text">pop-up window here</div>
        </div>
      </div>
      Caption text centered under the image.
      </div>
    </td>
</tr>

<tr>
     <td align="center" valign="center">
      <div class="container">
        <div class=thumbnail style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBqJCGMrE20DHJqaU6mnO8RQQgAKfM6CZM6HdpxSflwrwOGLhN);">
        <div class="middle">
          <div class="text">pop-up window here</div>
        </div>
      </div>
      Caption text centered under the image.
      </div>
    </td>

  <td align="center" valign="center">
      <div class="container">
        <div class=thumbnail style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiOvd46yCL8gqJ1ZuKXqdC2ZS-NMqPHc37kszpWAzpBr_00aoUw);">
        <div class="middle">
          <div class="text">pop-up window here</div>
        </div>
      </div>
      Caption text centered under the image.
      </div>
    </td>
</tr>
</tbody>
</table>