<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    width: 150px;

    transition: .5s ease;
    backface-visibility: hidden;
}

img:hover {
	opacity: 0.3;
    box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
}

img:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 10px;
  padding: 16px 32px;
} 

</style>
</head>
<body>

	<table border="0" width="400" cellpadding="5" style="margin-top:10px; margin-left: 215px;" >
		<tbody>
			<tr>
				<td align="center" valign="center">
					<button data-toggle="modal" data-target="#myModal">
  						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3pFRWF2dKvmCFnBsGGjwQEVIhXs-do9wXlJVHjpktTbDPYznvGA">
  						
			        	<div class="middle">
          					<div class="text">Descripcion</div>
        				</div>
        			</button>
    				Caption text centered under the first image.
	  			</td>

	  			<td align="center" valign="center">
					<button data-toggle="modal" data-target="#myModal">
  						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWDDqf90n6fpBXJ_wHHmlxSr2INSvcSjnV88tz2KG2LeGno_L_">
			        <div class="middle">
          				<div class="text">pop-up window here</div>
        			</div>
        			</button>
    				Caption text centered under the first image.
	  			</td>

	  			<td align="center" valign="center">
					<button data-toggle="modal" data-target="#myModal">
  						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi7rqXrNOZs9PGk_7cuHSj8tURFkxYPi2pvo5AiG7AX6ufEkoB">
					
			        <div class="middle">
          				<div class="text">pop-up window here</div>
        			</div>
        			</button>
    				Caption text centered under the first image.
	  			</td>

	  			<td align="center" valign="center">
					<button data-toggle="modal" data-target="#myModal">
  						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBqJCGMrE20DHJqaU6mnO8RQQgAKfM6CZM6HdpxSflwrwOGLhN">
					
			        <div class="middle">
          				<div class="text">pop-up window here</div>
        			</div>
        			</button>
    				Caption text centered under the first image.
	  			</td>

	  			<td align="center" valign="center">
					<button data-toggle="modal" data-target="#myModal">
  						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYiOvd46yCL8gqJ1ZuKXqdC2ZS-NMqPHc37kszpWAzpBr_00aoUw">
					
			        <div class="middle">
          				<div class="text">pop-up window here</div>
        			</div>
        			</button>
    				Caption text centered under the first image.
	  			</td>

	  		</tr>
	  	</tbody>
	</table>

	<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">DESCRIPCION ARTICULO </h4>
        </div>
        <div class="modal-body">
          <label name="ci_venta">CI/NIT</label>
          <input type="text" name="ci_venta">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">ACEPTAR</button>
        </div>
      </div>
    </div>
  </div>


</body>
</html>
